// =============================================================================
// Highlights dark
// =============================================================================

.highlight {
  padding: 0px 10px;
  margin: 10px 0;
  overflow: auto;
  font-weight: 400;
  background-color: darken($gray-darkest, 5);
  border-radius: $base-border-radius;
  pre {
    margin: 0;
  }
}

// Inline highlighting

div.highlighter-rouge {
  padding: 2px 4px;
  font-size: 14px;
  color: #f8f8f2;
  background: #282828;
  // background: darken($gray-darkest, 5);
  border: 1px solid $base-border-color;
  border-radius: 1px;
  margin-bottom: 10px;
}

// Responsive
// =============================================================================

@include breakpoint(small) {
  .highlight {
    font-size: 14px;
  }
}

// Highlighting types
// =============================================================================

.highlight pre {
  // background-color: darken($gray-darkest, 5);
  background-color: #282828;
}

.highlight .hll {
  background-color: #282828;
  // background-color: darken($gray-darkest, 5);
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #fbf1c7;
  background-color: #282828;
}
.highlight .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}
.highlight .cp {
  color: #8ec07c;
}
.highlight .nt {
  color: #fb4934;
}
.highlight .o, .highlight .ow {
  color: #fbf1c7;
}
.highlight .p, .highlight .pi {
  color: #fbf1c7;
}
.highlight .gi {
  color: #b8bb26;
  background-color: #282828;
}
.highlight .gd {
  color: #fb4934;
  background-color: #282828;
}
.highlight .gh {
  color: #b8bb26;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}
.highlight .kc {
  color: #d3869b;
}
.highlight .kt {
  color: #fabd2f;
}
.highlight .kd {
  color: #fe8019;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}
.highlight .si {
  color: #b8bb26;
  font-style: italic;
}
.highlight .sr {
  color: #b8bb26;
  font-style: italic;
}
.highlight .se {
  color: #fe8019;
}
.highlight .nn {
  color: #8ec07c;
}
.highlight .nc {
  color: #8ec07c;
}
.highlight .no {
  color: #d3869b;
}
.highlight .na {
  color: #b8bb26;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #d3869b;
}
.highlight .ss {
  color: #83a598;
}
